@{
    ViewData["Title"] = "Mini Inventory Management";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h6>Mini Inventory Management System</h6>
   
    <a href="/Home/ProductManagement" class="btn btn-primary">Manage Products</a>
    <a href="/Home/ProductManagement" class="btn btn-success">Manage Orders</a>
</div>